*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(0 8 20);
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-height: 100vh;
    color: whitesmoke;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
   
    height: 68px;
    position: sticky;
    top: 0;

}

.list{
    width: 70%;
}
.mlist{
    display: flex;
    text-align: center;
    justify-content: center;
    
    margin-top: -20px;
   
   padding-left: 5px;
    
}
.navbar{
    background-color: rgb(0,8,20);
}
.navbar li {
    text-decoration: none;
    list-style: none;
    margin-top: -25px;
    
}
.navbar ul {
    text-decoration: none;
}
.navbar li a{
    text-decoration: none;
   /* text-align: center; */
    justify-content: center;
   
    padding: 11px;
    margin-top: 15px;
    color: whitesmoke;
    font-size: 21px;
    margin-block-end: auto;
}
.dd{
    width: 32%;
    padding: 0px;
   
}
.navbar ul li ul{
    display:  block;
    position: absolute;
    padding: 0px;
    width: 36%;
    margin-top: 32px;
    
}
.navbar ul li ul li{
   width: 25%;
   padding: 16px;
   display: none;
   
   
}
.navbar ul li:hover ul li{
    display: block;
}
    
.navbar ul li a:hover{
    display: initial;
    background-color: rgba(0,0,0,0.6);
}
.logo{
    width: 33%;
}
.logo img{
    width: 14%;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    margin-left: 29px;
    margin-top: 12px;
}
.l3{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 80%;
    padding-left: 8px;
    color: black;
    border-radius: 5px;
    height: 38px;
    font-size: 18px;
    font-family: Poppins,sans-serif;
    margin : 0 auto;
    
}
.text1{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    margin : 0 37px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    
}
.data1{
    display: block;
    justify-content: center;
    height: 500px;
    width: 30%;
    border-radius: 45px;
    
    
    margin: 100px auto ;
    padding: 5px;
    border: 2px solid whitesmoke;
}
.pic1{
    margin : 0 auto;
    justify-content: center;
    border-radius: 8px;
    display: flex;
}
.pic1 img{
    border-radius: 300px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    
}
.btn1{
    
    margin: 0 auto;
    justify-content: center;
    display: flex;
    font-size: 20px;
    padding: 9px;
    padding-left: 25px;
    padding-right: 25px;
    
    border: 1px solid black;
    /* outline: none; */
    background-color: #5050d7;
    border-radius: 8px;
    cursor: pointer;
    color: whitesmoke;
}
.d1{
    display: flex;
    margin-left: 0  auto;
    justify-content: center;
} 

@media (max-width:1100px){
    .data1{
        display: block;
        justify-content: center;
        height: 500px;
        width: 40%;
        border-radius: 45px;
        
        
        margin: 100px auto ;
        padding: 5px;
        border: 2px solid whitesmoke;
    }
    .text1{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    margin : 0 37px;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    
}
.l3{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 80%;
    padding-left: 8px;
    color: black;
    border-radius: 5px;
    height: 38px;
    font-size: 12px;
    font-family: Poppins,sans-serif;
    margin : 0 auto;
    
}
}
@media (max-width:900px){
    .data1{
        display: block;
        justify-content: center;
        height: 500px;
        width: 40%;
        border-radius: 45px;
        
        
        margin: 100px auto ;
        padding: 5px;
        border: 2px solid whitesmoke;
    }
    .text1{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    margin : 0 37px;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    
}
.l3{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 80%;
    padding-left: 8px;
    color: black;
    border-radius: 5px;
    height: 38px;
    font-size: 12px;
    font-family: Poppins,sans-serif;
    margin : 0 auto;
    
}
}
@media (max-width : 750px){
    .data1{
        display: block;
        justify-content: center;
        height: 500px;
        width: 40%;
        border-radius: 45px;
        
        
        margin: 100px auto ;
        padding: 5px;
        border: 2px solid whitesmoke;
    }
    .text1{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    margin : 0 37px;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    
}
.l3{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 80%;
    padding-left: 8px;
    color: black;
    border-radius: 5px;
    height: 38px;
    font-size: 12px;
    font-family: Poppins,sans-serif;
    margin : 0 auto;
    
}
}
@media (max-width : 600px){
    .data1{
        display: block;
        justify-content: center;
        height: 500px;
        width: 60%;
        border-radius: 45px;
        
        
        margin: 100px auto ;
        padding: 5px;
        border: 2px solid whitesmoke;
    }
    .text1{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    margin : 0 37px;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    
}
.l3{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 80%;
    padding-left: 8px;
    color: black;
    border-radius: 5px;
    height: 38px;
    font-size: 12px;
    font-family: Poppins,sans-serif;
    margin : 0 auto;
    
}
}
@media (max-width:450px){
    .data1{
        display: block;
        justify-content: center;
        height: 500px;
        width: 70%;
        border-radius: 45px;
        
        
        margin: 100px auto ;
        padding: 5px;
        border: 2px solid whitesmoke;
    }
    .text1{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    margin : 0 37px;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    
}
.l3{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 80%;
    padding-left: 8px;
    color: black;
    border-radius: 5px;
    height: 38px;
    font-size: 12px;
    font-family: Poppins,sans-serif;
    margin : 0 auto;
    
}
}
@media(max-width:800px){
    .mlist{
        display: flex;
        text-align: center;
        justify-content: center;
        
        margin-top: -10px;
       
       /* padding-left: 5px;*/
        
    }
    .logo{
        width: 33%;
    }
    .logo img{
        width: 20%;
        border: 2px solid whitesmoke;
        border-radius: 50%;
        margin-left: 20px;
        margin-top: 14px;
    }
}
@media (max-width:1042px){
    .navbar{
        width: 96%;
    }
    .mlist{
        display: flex;
        text-align: center;
        justify-content: center;
        
        margin-top: -13px;
       
       /* padding-left: 5px;*/
        
    }
    .logo{
        width: 33%;
    }
    .logo img{
        width: 17%;
        border: 2px solid whitesmoke;
        border-radius: 50%;
        margin-left: 29px;
        margin-top: 12px;
    }

}
